# Maven
target/
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
*.log
logs/

# Environment files
.env
*.env
.env.*

# Secrets
*.pem
*.key
*.crt
*.p12
*.pfx
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# Kubernetes
kubeconfig
*.kubeconfig

# AWS
.aws/
aws-credentials.json

# Docker
.docker/
docker-compose.override.yml 

iam-policy.json

# local
k8s/local/
k8s/bkp/

